@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
       url('../fonts/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-right: 0px;
  position: relative;
}
.sidebar-header .brand {
  color: #fff;
  text-align: left;
  padding-left: 25px;
  line-height: 70px;
  font-size: 16px;
  background-color: white;
}
.auth {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #025d96;
  overflow-x: hidden;
  overflow-y: auto;
}
span.help-block strong {
  color: red;
}
.noxus_trademark{
  font-family:'latolight';
  text-decoration: none !important;
  color:#d00000 !important;
}
.sidebar {
  background-color: #003556;
}
a.paginate_button {
    padding: 10px;
}
.dataTables_wrapper select {
    background-color: #0084d5;
    border: 0px;
    color: white;
}
.dataTables_length {
    float: left;
}
.dataTables_filter {
    float: right;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter input[type="search"] {
    border: 0px;
    border-bottom: 1px solid #0074bc;
    float:right;
}
table.table_noxus {
    padding-top: 1em;
}
div.app article.content.dashboard-page{
  position:relative;
  left:0px;
  transition:0.3s;
}
.app.sidebar-open article.content.dashboard-page {
    left: 230px;
    position: relative;
    transition: 0.3s;
}
.actions_noxus {
    display: table;
    margin: 0 auto;
}
.header {
  background-color: #d7dde4;
  height: 72px;
}
#nprogress .spinner {
  display: none;
}
.button_left{
  display: inline-block;
  float: left;
}
.button_right{
  display:inline-block;
  float: left;
}
.selector_noxus{
  width:100%;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 15px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    transition:0.3s;
    background-color: #0084d5;
}
.select2-container {
    padding-top: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #0074bc transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: 11px;
    position: absolute;
    top: 50%;
    width: 0;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
    background-color: #0084d5;
    transition:0.3s;
}
img.thumb_noxs {
    width: 100%;
    max-width:250px;
}
img.thumb_image{
  width:100%;
}

.thumb_image {
    display: table;
    margin: 0 auto;
}
.tablized {
    display: table;
}
.row.centered{
  align-items: center;
  justify-content: center;
}
table.table_noxus {
    width: 100% !important;
}
.table_noxus th, .table_noxus td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}
.title-block {
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px solid #d7dde4;
}
.btn.btn-info {
    color: #fff;
    background-color: #0074bc;
    border-color: #0074bc;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0px solid #aaa;
    border-radius: 0px;
    border-bottom: 1px solid #0074bc;
}
span.input-group-addon.datetimepicker.noxus {
    background-color: #003657;
    color: white;
}
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.nav.nav-tabs-bordered + .tab-content {
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: transparent;
    padding: 20px 20px 20px;
    background-color: #f0f3f6;
}
.nav.nav-tabs-bordered .nav-item .nav-link.active {
    border-color: transparent;
    border-bottom-color: transparent;
    background-color: #0073be;
    color: white;
}
.btn.btn-info {
    color: #fff;
    background-color: #0074bc;
    border-color: #0074bc;
    margin-bottom: 0px;
}
@media all and (max-width:767px){
  .app .content {
    padding: 90px 20px 70px 20px;
  }
}